import Lbj{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Lbj{{properCase name}}',
  component: Lbj{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { Lbj{{properCase name}} },
  template: `
    <div>
      <Lbj-{{name}}></Lbj-{{name}}>
    </div>
  `
})